<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CAwitter</title>
    <script>window.__REACT_QUERY_STATE__  = <%- JSON.stringify(dehydratedState) %>;</script>

    <%- headTags %>
  </head>
  <body>
    <div id="app"><%- appHtml %></div>
    <div id="modal"></div>
  </body>
</html>
